.latestblog {
  padding: $pd-4;
  .latestblog__title {
    text-align: center;
    h3 {
      letter-spacing: 2px;
      font-weight: $fw-1;
      text-transform: uppercase;
      font-size: $fs-tiltle-1;
      position: relative;
      margin-bottom: $mg-5;
      &::after {
        @extend %afterTitle;
        bottom: -7px;
      }
    }
    p {
      font-size: $fs-txt-default;
      font-weight: $fw-2;
      line-height: 25px;
      width: 60%;
      margin: 0px auto;
      color: $cl-txt-2;
      margin-bottom: $mg-6;
    }
  }
  .latestblog__content {
    .content__item {
      position: relative;
      img {
        width: 100%;
      }
      p {
        @include styleAbsoluteTitle(0px, 0px);
        text-align: left;
        color: $cl-txt-default;
        width: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding: $pd-10;
        font-weight: $fw-2;
      }
    }
    .content__right {
      .post {
        list-style-type: none;
        display: flex;
        .post__item {
          transition: all 0.5s;
          position: relative;
          font-size: $fs-txt-5;
          color: #909090;
          font-weight: $fw-2;
          text-transform: uppercase;
          letter-spacing: 1px;
          a {
            text-transform: uppercase;
            color: #909090;
            letter-spacing: 1px;
            text-decoration: none;
            font-weight: $fw-2;
            line-height: 1.5;
          }
          .after::after {
            @extend %affterhorizontal;
          }
          &:hover {
            a {
              color: $cl-txt-3;
            }
          }
        }
      }
      h4 {
        font-size: $fs-txt-3;
        font-weight: normal;
        line-height: 1.5;
        transition: all 0.5s;

        a {
          color: $cl-txt-1;
          text-decoration: none;
        }
        &:hover {
          a {
            color: $cl-txt-3;
          }
        }
      }
      p {
        color: $cl-txt-2;
        font-size: $fs-txt-default;
        font-weight: $fw-2;
        line-height: 30px;
      }
      .showmore {
        text-transform: uppercase;
        margin-top: $mg-5;
        a {
          text-decoration: none;
          color: $cl-5;
          &:hover {
            color: $cl-txt-1;
          }
        }
      }
    }
  }
}
